body {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/759/428/990/uplifting-rays-of-sunshine-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.fog {
  font-size: 35px;
}
.degreeone {
  font-size: 35px;
  font-weight: bold;
}
.fa-map-marker-alt {
  margin-right: 5px;
}
.thursday {
  margin-top: 150px;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
  font-weight: bold;
  font-size: 35px;
}
.chwani {
  margin-left: 25px;
  font-weight: bold;
}
.rain {
  margin-left: 25px;
  font-weight: bold;
}
.speed {
  margin-left: 25px;
  font-weight: bold;
}
.pressure {
  margin-left: 25px;
  font-weight: bold;
}

.second-row {
  bottom: 0px;
}

.container-fluid {
  margin-top: 20px;
}
